html,
body {
  background: white;
}

.brand {
  color: firebrick;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.folder-controls {
  margin-top: 50px;
}

.local-browser ul ul {
  padding-left: 30px;
}

canvas {
  display: block;
  width: 1024px;
  height: 200px;
}

.card {
  position: relative;
  margin-bottom: 30px;
}

.title {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.browser {
  padding: 15px;
}
