html,
body {
  background: white;
}

.brand {
  color: firebrick;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.folder-controls {
  margin-top: 15px;
  margin-bottom: 15px;
}

.local-browser ul ul {
  padding-left: 30px;
}

canvas {
  display: block;
  width: 1024px;
  height: 200px;
}

.card {
  position: relative;
  margin-bottom: 30px;
}

.title {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.playlist,
.browser {
  padding: 15px;
  min-height: 250px;
}

.search-bar {
  position: relative;
  padding-right: 100px;
}

.browser-library-selection {
  position: absolute;
  right: 0;
  top: 0;
}

.browser-library-selection select {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


