.image-wrapper {
  position: relative;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1
}

.mask {
  position: absolute;
}

.file-tree ul {
  padding-left: 30px;
  display: none;
}

.file-tree .label:hover {
  color: white;
  background: black;
  cursor: pointer;
}
