<!DOCTYPE html>
<html ng-app="firebrickApp">
  <head>
    <meta charset="UTF-8">
    <title>FireBrick</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css" />
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="section">
      <p class="brand">FIREBRICK</p>
      <div class="card is-fullwidth">
        <h2 class="title"></h2>
        <canvas class="visualizer"></canvas>
      </div>

      <div class="columns">
        <div class="column">
          <div class="card is-fullwidth playlist" ng-controller="PlaylistController">
            <h2 class="subtitle">Playlist</h2>
            <hr>

            <ul>
              <li ng-repeat="track in playlist track by $index">
              <a href="#" data-path="{{track.path}}" class="playlist-track" ng-click="playTrack(track)">{{track.name}}</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="column">
          <div class="card is-fullwidth browser" ng-controller="TrackBrowserController">
            <div class="search-bar">
              <form ng-submit="searchSubmit()">
                <input class="input" type="text" ng-model="searchTerm" name="text" placeholder="Search for a song">

                <p class="control browser-library-selection">
                  <span class="select">
                    <select ng-model="browserLibrary" ng-change="browserLibraryChange()">
                      <option value="youtube">Youtube</option>
                      <option value="local">Local folder</option>
                    </select>
                  </span>
                </p>
              </form>
            </div>

            <div ng-if="browserLibrary === 'local'" class="local-browser">
              <div class="folder-controls">
                <button ng-click="selectMusicFolder()" class="button is-primary open-folder">Open music libary</button>
              </div>

              <ul>
                <li ng-repeat="item in folderTree.children" ng-include="'tree_item_renderer.html'"></li>
              </ul>
            </div>

            <div ng-if="browserLibrary !== 'local'" class="local-browser">
              <ul>
                <li ng-repeat="track in tracks">
                  <a href="#" class="browser-track" data-path="{{track.path}}" ng-click="playTrack(track)">{{track.name}}</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="youtube-container" style="display: none">
      </div>
    </div>

    <script type="text/ng-template"  id="tree_item_renderer.html">
      <a href="#" data-path="{{item.path}}" class="browser-track" ng-click="playTrack(item)" ng-if="!item.children.length">{{item.name}}</a>
      <span ng-if="item.children.length">{{item.name}}</span>
      <ul>
        <li ng-repeat="item in item.children" ng-include="'tree_item_renderer.html'"></li>
      </ul>
    </script>

    <script>
      // You can also require other files to run in this process
      require('./lib/renderer.js')
    </script>
  </body>
</html>
